<div class="calendar-wr">
  <table class="calendar">
    <thead class="calendar-header">
      <tr>
        <th>
            <a href="#" class="btn btn-default" ng-click="prevYear()">‹</a>
        </th>
        <th>
            <a href="#" class="btn btn-default" ng-click="prevMonth()">‹</a>
        </th>
        <th colspan=3 class="switch" ng-click="today()">{{year}} {{month | monthToString}} {{day}}</th>
        <th>
            <a href="#" class="btn btn-default" ng-click="nextMonth()">›</a>
        </th>
        <th>
            <a href="#" class="btn btn-default" ng-click="nextYear()">›</a>
        </th>
      </tr>
      <tr>
        <th>Mo</th>
        <th>Tu</th>
        <th>We</th>
        <th>Th</th>
        <th>Fr</th>
        <th>Sa</th>
        <th>Su</th>
      </tr>
    </thead>
    <tbody class="calendar-body">
        <tr ng-repeat="week in weeks">
            <td ng-repeat="day in week" class="day" ng-class="{current:day.isCurrent, active:day.isSelected}" ng-click="selectDay(day)">{{day.number}}</td>
        </tr>
    </tbody>
  </table>
</div>