*,
*:after,
*:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html,
body,
.container{
  height: 100%;
}
.calendar-wr {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 600px;
  padding: 5px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.calendar {
  width: 100%;
}
.calendar th,
.calendar td {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
.calendar th {
  padding: 20px;
}
.calendar .switch {
  font-size: 20px;
}
.prev,
.next {
  font-size: 21px;
}
.old,
.new {
  color: #ccc;
}
.day,
.switch{
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
.day:hover,
.switch:hover{
  cursor: pointer;
  background: #eee;
}
.day.active,
.day.active:hover {
  color: #fff;
  background: #75bae8;
}
.day.current,
.day.current:hover {
  color: #fff;
  background: red;
}
.btn-round{
  border-radius: 50%;
  color: #ccc;
  width: 40px;
  height: 40px;
  padding: 5px;
}
.btn-round:hover{
  color: #adadad;
}
